<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medicine based on Ayurved| Aushadh setu.com</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/p.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    

</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="logo1.jpg" alt="Aushadh setu.com">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="#client-section">Blogs</a></li>
            <li class="item"><a href="#contact">Booking</a></li>
        </ul>
    </nav>

    <section id="home">
       
         <h1 class="h-primary">Welcome to Aushadhya</h1>
        <h2>"When diet is wrong, medicine is of no use. When diet is correct, medicine is of no need". </h2>
        <p>"SWASTHASYA SYASTHYA RAKSHANAM, AATURASHCHA VIKAR PRASHAMANAM”. </p>
        <button class="btn">Enroll</button>
    </section>

    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="download.jpg" alt="">
                <h2 class="h-secondary center">Disease Information
                </h2>
                <p class="center">Check yourself by quick test and know about your disease.</p>
                <button class="btn">Start</button>
    
            </div>
            <div class="box">
                <img src="home remide.jpg" alt="">
                <h2 class="h-secondary center">The Ayurvedic Cure</h2>
                <p class="center">The holistic medicine aims to restore health by understanding the underlying causes of the diseases. 
                    It strives to attack the root causes and detoxifying, cleansing, strengthening body tissues (dhatus) and balancing bodily doshas, ensuring complete cure..</p>
                    <button class="btn">Proceed</button>
            </div>
            <div class="box">
                <img src="dosage.png" alt="">
                <h2 class="h-secondary center">How to Use</h2>
                <p class="center">If dosages are wrong, the consequences are devastating. For that reason,
                     it is of paramount importance to get the right combination of immunosuppressive drugs and to calibrate the dosage exactly in order for the “poison” to stay within its narrow therapeutic window..</p>
                     <button class="btn">Proceed</button>
            </div>

        </div>
    </section>
    <section id="client-section">
        <h1 class="h-primary center">Blogs</h1>
        <div id="clients">
            <div class="client-item">
                <img src="blog1.jpg" alt="Blogs">
            </div>
            <div class="client-item">
                <img src="blog2.jpg" alt="Blogs">
            </div>
          
            <div class="client-item">
                <img src="blog3.jpg" alt="Blogs">
            </div>
            <div class="client-item">
                <img src="images.jpg" alt="Blogs">
            </div>
        </div>

    </section>

    <section id="contact">
        <h1 class="h-primary center">Book Appointment</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="name" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="quiz-container" id="quiz">
            <div class="quiz-header">
              <h2 id="question">Question Text</h2>
              <ul>
                <li>
                  <input type="radio" name="answer" id="a" class="answer">
                  <label for="a" id="a_text">Answer</label>
                </li>
        
                <li>
                  <input type="radio" name="answer" id="b" class="answer">
                  <label for="b" id="b_text">Answer</label>
                </li>
        
                <li>
                  <input type="radio" name="answer" id="c" class="answer">
                  <label for="c" id="c_text">Answer</label>
                </li>
        
                <li>
                  <input type="radio" name="answer" id="d" class="answer">
                  <label for="d" id="d_text">Answer</label>
                </li>
        
              </ul>
            </div>
        
            <button id="submit">Submit</button>
        
          </div>
          </section>

    <footer>
        <div class="center">
            Copyright &copy; www.Aushadhya.com. All rights reserved!
        </div>

    </footer>
</body>

</html>